.auth-container {
  position: absolute;
  left: 10vw;
  top: 5vh;
  width: 90vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-wrapper {
  width: 45vw;
  height: 55vh;
  border: 1px solid black;
  background-color: #0067B2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-shadow: 2px 3px 5px #C4C4C4, 2px 3px 5px #FF8A00;
  border-radius: 3px;
}

.auth-header {
}

.auth-children {
}

.form-label {
  font-size: 2rem;
}

.inputs {
  position: relative;
  left: 1rem;
  width: 80%;
  height: 2.5vh;
  background-color: rgba(0, 16, 54, 1);
  outline: none;
  border: 1px solid rgba(0, 16, 54, 1);
  color: white;
  font-size: 2rem;
}

.form-button {
  width: 10vw;
  align-self: center;
}

.standout {
  margin-top: 1rem;
  width: 20vw;
  height: 3vh;
  align-self: center;
  background-color: #5EF27E;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 1px 1px 2px #C4C4C4, 1px 2px 3px #FF8A00;
  font-size: 1rem;
}

.standout a {
  text-decoration: none;
  color: inherit;
}

.dropzone {
  align-self: center;
  width: 50%;
  border: 1px dashed black;
  margin-bottom: 1rem;
}

.checkmark {
  width: 4rem;
  margin-bottom: 0.5rem;
}
