

.auth-container {
  grid-area: main;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-areas: 'l m r' */
}

.auth-wrapper {
  /* grid-area: m; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 2rem;
  background-color: rgba(122, 134, 173, 1);
}

.auth-header {
  margin: 0;
}

.auth-children {
  align-self: center;
}

.inputs {
  width: 10vw;
  margin: 0.5rem;
}

.dropzone {
  border: 1px dashed black;
  margin-bottom: 1rem;
}

.checkmark {
  width: 4rem;
  margin-bottom: 0.5rem;
}
