@import url('https://fonts.googleapis.com/css?family=Shrikhand');


.chat-container {
  grid-area: main;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 80% 20%;
  grid-template-areas: 'l r' 'b r';
  grid-row-gap: 1rem;
  /* background-color: rgba(7, 18, 58, 1) */
}

.messaging-area {
  grid-area: l;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-end;
}

.users-list {
  grid-area: r;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  overflow: scroll;
  /* background-color: rgba(122, 134, 173, 1); */
  background-color: rgba(148, 16, 16, 1);
  border-left: 1px solid rgba(255, 216, 170, 1);
  /* border-left: 2px solid rgba(255, 103, 0, 1); */
}

.user {
  align-self: center;
  list-style: none;
  border: 1px solid rgba(7, 18, 58, 1);
  margin: 0.5rem;
  flex: 0;
  width: 60%;
  min-height: 6vh;
  line-height: 2rem;
  border-radius: 4px;
  color: rgba(255, 216, 170, 1)
}

.chat-input-container {
  /* grid-area: b; */
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: auto 10%;
  grid-template-areas: 'input submit';
  grid-column-gap: 0.5rem;
}

.chat-input-wrapper {
  width: 80%;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; */
  /* grid-area: mm; */
}

.chatbox-container {
  /* display: block; */
  /* position: ; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.chat-input {
  /* display: flex; */
  /* justify-content: center; */
  z-index: 5;
  /* grid-area: input; */
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 5vh;
  font-size: 5vh;
  border: none;
  border-bottom: 0.1px solid black;
  color: white;
  text-align: center;
}

.chat-submit {
  grid-area: submit;
  /* width: 100%; */
}

/* #messages {
  border: 1px solid black;
  width: 70%;
  height: 40vh;
  background-color: rgba(122, 134, 173, 1);
  /* opacity: 0.6; */
  /* padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 5px;
} */

#chatbox::before {
  content: '';
  display: block;
  position: sticky;
  top: 0;
  align-items: stretch;
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
  margin: 0;
  background-color: white;
}

.msg-top {
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  max-height: 2rem;
  font-size: 2em;
  color: white;
  /* position: absolute; */
  /* top: 2rem; */
  z-index: 5;
  margin-bottom: 1rem;
}

/* .message {
  list-style: none;
  margin: 0.5rem;
  border: 1px solid black; */
  /* max-width: 50%; */
  /* min-height: 1.5rem; */
  /* border-radius: 10px;
  align-self: flex-start;
  color: white;
  padding: 0.5rem;
} */

.sender {
  list-style: none;
  background-color: rgba(0, 98, 94, 1);
  text-align: left;
  align-self: flex-start;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 0.5rem;
}

.recipient {
  list-style: none;
  align-self: flex-end;
  /* justify-content: flex-end; */
  /* padding-right: 0.5rem; */
  text-align: right;
  background-color: rgba(255, 103, 0, 0.8);
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 0.5rem;
}

.text-to-speech {
  grid-area: b;
}

.popup {
  position: relative;
  /* display: inline-block; */
  display: inline-flex;
  /* top: 1.5rem;
  right: 4rem; */
  bottom: 1rem;
  /* right: 2rem; */
  width: 2em;
  height: 2em;
  border: 1px solid black;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0 0.25em;
  border-radius: 5px;
  transition: ease-in 100ms;
  /* opacity: 0.5; */
}

.popup:hover {
  transform: scale(1.2);
  /* opacity: 1; */
}

.chat-features {
  position: absolute;
  bottom: 0.5rem;
  /* grid-area: b; */
  /* margin-bottom: 1em; */
}

.translate-modal {
  min-width: 10vw;
  min-height: 5vh;
  padding: 1rem;
  position: relative;
  left: 0;
  top: 0;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}

.speech-modal {
  min-width: 5vw;
  min-height: 5vh;
  padding: 1rem;
  position: relative;
  left: 0;
  top: 0;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}

.save-modal {
  min-width: 5vw;
  min-height: 5vh;
  padding: 1rem;
  position: relative;
  left: 0;
  top: 0;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}

.speech {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-volume-high-128.png');
  background-size: contain;
  background-color: rgba(148, 16, 16, 1);
}

.translate {
  background: url('https://cdn4.iconfinder.com/data/icons/languages-scripts/100/language-translate-128.png');
  background-size: contain;
  background-color: rgba(148, 16, 16, 1);
}

.save {
  background: url('https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_save-128.png');
  background-size: contain;
  background-color: rgba(148, 16, 16, 1);
}
