.lists-container {
  position: absolute;
  left: 10vw;
  top: 5vh;
  width: 90vw;
  height: 95vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* grid-area: main;
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: 15vh 85vh;
  grid-template-areas: 'll header rr' 'll middle rr' */
}

.lists-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: calc(90vw / 3 * 2);
  height: 50%;
}

.list-box {
  height: 20vh;
  width: 100%;
  position: relative;
  z-index: 1;
  transition: ease-in-out 100ms;
}

.list-box h1 {
  z-index: 1;
  position: relative;
  left: 1rem;
  top: -5rem;
  margin: 0;
}

.list-box img {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-box:hover {
  transform: scale(1.1);
}

/*
.hex {
  grid-area: middle;
  background-color: rgba(148, 16, 16, 1);;
  position: relative;
  width: 200px;
  height: 100px;
  transform: rotate(90deg);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.hex:before,
.hex:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hex:before {
  bottom: 100%;
  border-bottom: 50px solid rgba(148, 16, 16, 1);;
  left: 0px;
}

.hex:after {
  top: 100%;
  width: 0;
  border-top: 50px solid rgba(148, 16, 16, 1);;
  left: 0px;
}

.circle {
  height: 175px;
  width: 175px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.circle {
  top: 390px;
  left: 630px;
  position: relative;
}

.hex-1, .hex-4 {
  position: relative;
  left: 450px;
}

.hex-2, .hex-3, .hex-9 {
  position: relative;
  left: 650px;
}

.hex-5, .hex-6, .hex-10 {
  position: relative;
  left: 250px;
}

.hex-3, .hex-5 {
  top: 420px;
}

.hex-2, .hex-6 {
  top: 160px;
}

.hex-8, .hex-12 {
  position: relative;
  left: 50px;
}

.hex-1, .hex-11, .hex-12 {
  top: 30px;
}

.hex-7, .hex-11 {
  position: relative;
  left: 850px;
}

.hex-7, .hex-8 {
  top: 290px;
}

.hex-9, .hex-10 {
  position: relative;
  top: -90px;
}

.hex-4 {
  top: 530px;
}

.hex-name {
  text-align: center;
  transform: rotate(-90deg);
} */

/*
.hex-9 {
  position: relative;
  left: 650px;
  top: 670px;
}  */
