.list-container {
  position: absolute;
  top: 5vh;
  left: 10vw;
  height: 100%;
  width: 100%;
}

.list-msg {
  list-style: none;
  position: relative;
  transition: ease-in-out 500ms;
  transform: scale(0.8);
  cursor: pointer;
}

.list-msg:hover {
  transform: scale(5);
  transform: translateX(-10%);
}

.list-msg::before {
  content: open-quote;
  display: inline-block;
  font-size: 30px;
  color: rgba(148, 16, 16, 1);
}

.list-msg::after {
  content: close-quote;
  display: inline-block;
  font-size: 30px;
  color: rgba(148, 16, 16, 1);
}
