@import url('https://fonts.googleapis.com/css?family=Shrikhand');

.nav {
  position: absolute;
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgba(0, 16, 54, 1);
  /* background-color: #0067B2; */
  border-right: 1px solid rgba(255, 216, 170, 1);
  transition: ease-out 250ms;
  top: 5vh;
  left: 0vw;
}
/*
.hamburger {
  border: none;
  display: block;
  position: relative;
  top: 5vh;
}

.is-closed {
  left: -20vw;
}

.is-open {
  left: 0vw;
}

.hamb {
  position: absolute;
  left: 2vw;
  height: 4px;
  width: 2.5vw;
  background-color: rgba(0, 16, 54, 1);
}

.hamb-top {
  top: 1rem;
}

.hamb-mid {
  top: 1.5rem;
}

.hamb-bot {
  top: 2rem;
} */

.nav-item {
  font-family: 'Shrikhand', 'cursive';
  font-size: 1em;
  list-style: none;
  align-self: center;
  flex: 0.05;
  margin: 0.25vw;
  text-decoration: none;
  /* color: rgba(212, 163, 106, 1); */
  /* color: black; */
  color: #C4C4C4;
  transition: ease-out 50ms;

  transform: scale(0.8);
  width: 80%;
  padding: 0.3rem;
  opacity: 0.5;
  border-radius: 3px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav:first-child{
  padding-top: 2rem;
} */

.nav-item:hover {
  padding-top: 0.5rem;
  transform: scale(1.2);
  box-shadow: 0.5px 1px black;
  /* background-color: rgba(85, 46, 0, 1); */
  background-color: #0067B2;
  /* background-color: rgba(0, 16, 54, 1); */
  /* color: rgba(59, 204, 180, 1); */
  color: white;
}

.nav-item:hover {
  opacity: 1;
}


.nav-item:hover::before {
}

.nav-item:hover::after {
}
