@import url('https://fonts.googleapis.com/css?family=Shrikhand');

.profile {
  grid-area: main;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-auto-rows: 30% 15% 50%;
  grid-template-areas: 'pic name list' 'lang lang list' 'details info list'
}

.profile h1 {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile h3 {
  font-size: 1.5em;
  text-decoration: underline;
}

.profile p {
  font-size: .8em;
}

.profile #user-languages {
  grid-area: lang;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile #user-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile #user-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile aside {
  grid-area: list;
  /* border: 5px solid rgba(255, 103, 0, 1); */
  /* border-top: 3px solid rgba(255, 103, 0, 1); */
  /* border-left: 3px solid rgba(255, 103, 0, 1); */
  border-left: 1px solid rgba(255, 216, 170, 1);
  background-color: rgba(148, 16, 16, 1);
  overflow-y: scroll;
  /* min-height: 78.5vh; */
  max-height: 100%;
}

.profile aside span {
  display: inline-block;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid rgba(59, 204, 180, 1);
}

.profile aside span h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.profile aside main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile aside main h3 {
  transition: ease-out 100ms;
}

.profile aside main h3:hover {
  transform: scale(2.3);
  color: rgba(59, 204, 180, 1);
}

.profile aside main h3:hover::before {
  content: '';
  display: block;
  padding: 0.1rem;
  border-top: 2px solid rgba(255, 103, 0, 1);
}

.profile aside main h3:hover::after {
  content: '';
  display: block;
  padding: 0.1rem;
  border-bottom: 2px solid rgba(255, 103, 0, 1);
}

.img-wrapper {
  grid-area: pic;
  margin: 2px;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.img-wrapper img {
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 20vw;
  max-height: 25vh;
  align-self: center;
  transition: ease-in-out 250ms;
}

.rotate {
  transform: rotate3d(0, 1, 0, 360deg);
}
