@import url('https://fonts.googleapis.com/css?family=Shrikhand');

.top-border {
  margin: 0;
  background-color: #2CC6B4;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  /* background-color: black; */
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5vw;
}

.top-border h1 {
  color: black;
  font-family: 'Shrikhand', 'cursive';
}

/* .banner-header { */
  /* color: rgba(73, 146, 115, 1); */
  /* text-decoration-color: rgba(15, 87, 56, 1); */
/* } */
