@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body {
  /* background-color: rgba(21, 134, 115, 0.7); */
  margin: 0;
  background-color: rgba(0, 16, 54, 1);
  color: rgba(21, 134, 115, 0.7);
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 10vw auto;
  grid-template-rows: 15vh 85vh;
  grid-template-areas: 'nav banner' 'nav main';
  /* padding: 0.5vw; */
  margin: 0;
  /* grid-gap: 1vw; */
}

.header {
  font-family: 'Shrikhand', 'cursive';
  font-size: 5em;
  /* color: black; */
  margin: 0;
}

.nav {
  grid-area: nav;

  position: absolute;
  width: 9.95vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* max-width: 10vw; */
  /* max-height: 100%; */
  justify-content: flex-start;
  /* border: 1px solid black; */
  /* background-color: rgba(0, 98, 94, 1); */
  /* background-color: rgba(131, 131, 131, 1); */
  /* background-color: rgba(85, 46, 0, 1); */
  background-color: rgba(0, 16, 54, 1);
  border-right: 1px solid rgba(255, 216, 170, 1);
  transition: ease-out 250ms;
}

.hamburger {
  background: transparent;
  border: none;
  display: block;
  /* border-right: 1px solid rgba(255, 216, 170, 1); */
}

.is-closed {
  left: -20vw;
}

.is-open {
  left: 0vw;
}

.hamb {
  position: absolute;
  left: 3.7vw;
  height: 4px;
  width: 2.5vw;
  background-color: white;
}

.hamb-top {
  top: 1rem;
}

.hamb-mid {
  top: 1.5rem;
}

.hamb-bot {
  top: 2rem;
}

/* .nav::before {
  content: "_____\a_____\a_____";
  display: inline-block;
  white-space: pre;
  z-index: 5;
  padding: 0;
  margin: 0;
} */

.nav-item {
  font-family: 'Shrikhand', 'cursive';
  font-size: 1em;
  list-style: none;
  align-self: center;
  flex: 0.05;
  margin: 0.25vw;
  text-decoration: none;
  color: rgba(212, 163, 106, 1);
  transition: ease-out 50ms;

  transform: scale(0.8);
  width: 80%;
  padding: 0.3rem;
  opacity: 0.5;
  border-radius: 3px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav:first-child{
  padding-top: 2rem;
}

.nav-item:hover {
  padding-top: 0.5rem;
  transform: scale(1.2);
  border: 1px solid black;
  box-shadow: 0.5px 1px black;
  background-color: rgba(85, 46, 0, 1)
  /* transform: scale(2);
  color: rgba(59, 204, 180, 1); */
}

.nav-item:hover {
  opacity: 1;
}


.nav-item:hover::before {
  /* content: '';
  display: block;
  padding: 0.1rem;
  border-top: 2px solid rgba(255, 103, 0, 1); */
}

.nav-item:hover::after {
  /* content: '';
  display: block;
  padding: 0.1rem;
  border-bottom: 2px solid rgba(255, 103, 0, 1); */
}

.banner {
  grid-area: banner;
  margin: 0;
  background-color: rgba(0, 58, 33, 1);
  height: 15vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  /* border: 4px solid rgba(255, 103, 0, 1); */
  /* border-bottom: 4px solid rgba(117, 175, 150, 1); */
  border-bottom: 1px solid rgba(255, 216, 170, 1);
  box-sizing: border-box;
}

.banner-header {
  font-size: 7em;
  color: rgba(73, 146, 115, 1);
  text-decoration: underline;
  text-decoration-color: rgba(15, 87, 56, 1);
}

.profile {
  grid-area: main;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-auto-rows: 30% 15% 50%;
  grid-template-areas: 'pic name list' 'lang lang list' 'details info list'
}

.profile h1 {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile h3 {
  font-size: 1.5em;
  text-decoration: underline;
}

.profile p {
  font-size: .8em;
}

.profile #user-languages {
  grid-area: lang;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile #user-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile #user-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile aside {
  grid-area: list;
  /* border: 5px solid rgba(255, 103, 0, 1); */
  /* border-top: 3px solid rgba(255, 103, 0, 1); */
  /* border-left: 3px solid rgba(255, 103, 0, 1); */
  border-left: 1px solid rgba(255, 216, 170, 1);
  background-color: rgba(148, 16, 16, 1);
  overflow-y: scroll;
  /* min-height: 78.5vh; */
  max-height: 100%;
}

.profile aside span {
  display: inline-block;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid rgba(59, 204, 180, 1);
}

.profile aside span h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.profile aside main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile aside main h3 {
  transition: ease-out 100ms;
}

.profile aside main h3:hover {
  transform: scale(2.3);
  color: rgba(59, 204, 180, 1);
}

.profile aside main h3:hover::before {
  content: '';
  display: block;
  padding: 0.1rem;
  border-top: 2px solid rgba(255, 103, 0, 1);
}

.profile aside main h3:hover::after {
  content: '';
  display: block;
  padding: 0.1rem;
  border-bottom: 2px solid rgba(255, 103, 0, 1);
}

.img-wrapper {
  grid-area: pic;
  margin: 2px;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.img-wrapper img {
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 20vw;
  max-height: 25vh;
  align-self: center;
  transition: ease-in-out 250ms;
}

.rotate {
  transform: rotate3d(0, 1, 0, 360deg);
}

.auth-container {
  grid-area: main;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-areas: 'l m r' */
}

.auth-wrapper {
  /* grid-area: m; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 2rem;
  background-color: rgba(122, 134, 173, 1);
}

.auth-header {
  margin: 0;
}

.auth-children {
  align-self: center;
}

.inputs {
  width: 10vw;
  margin: 0.5rem;
}

.dropzone {
  border: 1px dashed black;
  margin-bottom: 1rem;
}

.chat-container {
  grid-area: main;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 'l r' 'b r';
  grid-row-gap: 1rem;
  /* background-color: rgba(7, 18, 58, 1) */
}

.messaging-area {
  grid-area: l;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.users-list {
  grid-area: r;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  overflow: scroll;
  /* background-color: rgba(122, 134, 173, 1); */
  background-color: rgba(148, 16, 16, 1);
  border-left: 1px solid rgba(255, 216, 170, 1);
  /* border-left: 2px solid rgba(255, 103, 0, 1); */
}

.user {
  align-self: center;
  list-style: none;
  border: 1px solid rgba(7, 18, 58, 1);
  margin: 0.5rem;
  flex: 0;
  width: 60%;
  min-height: 6vh;
  line-height: 2rem;
  border-radius: 4px;
  color: rgba(255, 216, 170, 1)
}

.chat-input-container {
  grid-area: b;
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-template-areas: 'l mm rr';
  grid-column-gap: 1rem;
}

.chat-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: mm;
}

.chat-input {
  width: 35vw;
  margin-right: 1rem;

}

.chat-submit {
  width: 5vw;
}

#messages {
  border: 1px solid black;
  width: 70%;
  height: 40vh;
  background-color: rgba(122, 134, 173, 1);
  /* opacity: 0.6; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 5px;
}

#messages > div:first-of-type {
}

.message {
  list-style: none;
  margin: 0.5rem;
  border: 1px solid black;
  width: 50%;
  min-height: 2rem;
  border-radius: 10px;
  align-self: center;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* overflow-wrap: normal; */
  /* word-break: normal; */
  color: white;
  /* padding: 0.05rem; */
}

.sender {
  align-self: flex-start;
  justify-content: flex-start;
  padding-left: 0.5rem;
  background-color: rgba(0, 98, 94, 1);
}

.recipient {
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 0.5rem;
  background-color: rgba(255, 103, 0, 0.8);
}

/* .sender::after {
  content: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-volume-high-128.png');
  position: inherit;
  transform: scale(0);
  transition: transform ease-out 150ms;
  background-color: rgba(255, 103, 0, 1);
  border-radius: 50%;
}

.sender:hover::after{
  transform: scale(0.5);
}

.recipient::before {
  content: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-volume-high-128.png');
  position: inherit;
  transform: scale(0);
  transition: transform ease-out 150ms;
}

.recipient:hover::before{
  transform: scale(0.5);
} */

.text-to-speech {
  grid-area: b;
}

/* #text-to-speech {
  width: 3rem;
  margin-bottom: 1rem;
} */

.static {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popup {
  position: relative;
  display: inline-block;
  top: 1.5rem;
  right: 4rem;
  width: 2em;
  height: 2em;
  border: 1px solid black;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0 0.25em;
  border-radius: 5px;
  transition: ease-in 100ms;
  opacity: 0.5;
}

.popup:hover {
  transform: scale(1.5);
  opacity: 1;
}

.chat-features {
  margin-bottom: 1em;
}

.speech {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-volume-high-128.png');
  background-size: contain;
  background-color: rgba(148, 16, 16, 1);
}

.translate {
  background: url('https://cdn4.iconfinder.com/data/icons/languages-scripts/100/language-translate-128.png');
  background-size: contain;
  background-color: rgba(148, 16, 16, 1);

}

@media only screen and (min-width: 1000px) {
  /* as is */
}

@media only screen and (min-width: 768px) {
 /* banner header */
}

@media only screen and (min-width: 600px) {
 /*
    banner header
    nav bar
    notes list
 */
}

@media only screen and (min-width: 400px) {
  /*
     everything
  */
}
